.daily-review{
    display: flex;
    padding-top:165px;
 
}
.daily-review h1{
   
    font-weight: bolder;
    font-size: larger;
    color:#0F2C67;
}
.daily-review > h2{
    padding-left:10px;
    font-size: larger;
    color:#0B4619;
   
}

.dailyreview-container {
    height: 92vh;
    
    overflow: hidden;
  
    background-image: url('../images/study.jpeg');
  }